h1 {
    margin-left:70px;
  }
  form li {
    list-style:none;
    margin-bottom:5px;
  }
  
  [type="submit"] {
    clear:left;
    margin:20px 00230px;
    font-size:18px
  }

  input.text {
    width:  200px;
    height: 15px;
    padding: 5px 10px 5px 10px;
    border:1px solid #999;
    font-size:16px;
    font-family: Tahoma;
}